#employeeTable{
    width: 86%;
    margin: 0 7%;
    padding: 20px;
}
#employeeTable tbody tr:nth-child(odd){
    background-color: #EAE9E5;
}
#employeeTable thead th{
    padding-bottom: 20px;
}
#employeeTable tbody td:nth-child(1){
    width: 5%;
    text-align: center;
}
#employeeTable tbody td:nth-child(2){
    width: 12%;
}
#employeeTable tbody td:nth-child(3){
    width: 8%;
    text-align: center;
}
#employeeTable tbody td:nth-child(4){
    width: 8%;
    text-align: center;
}
#employeeTable tbody td:nth-child(5){
    width: 8%;
    text-align: center;
}
#employeeTable tbody td:nth-child(6){
    width: 14%;
}
#employeeTable tbody td:nth-child(7){
    width: 10%;
}
#employeeTable tbody td:nth-child(8){
    width: 10%;
}
#employeeTable tbody td:nth-child(9){
    width: 10%;
}
#employeeTable tbody td:nth-child(10){
    width: 15%;
}
#employeeTable tr{
    height: 75px;
}
#employeeTable td{
    padding: 0 10px;
}
.buttonEmployee{
    width: 40%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 40px;
}
.createNew{
    margin: 1.5% 7%;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}