.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  margin: 5px;
  border-collapse: collapse;
}
th, td {
  border: black 1px solid;
  padding: 5px 10px;
}
.button {
  margin: 0 5px;
  width: 75px;
  border: none;
}
.button:hover {
  scale: 1.1;
}
.edit {
  background-color: lightgreen;
}
.delete {
  background-color: lightcoral;
}
.add {
  background-color: lightseagreen;
}
small {
  color: red;
}
input, select {
  width: 250px;
}
.inputDiv {
  width: 300px;
  height: 80px;
}
.back {
  background-color: lightcoral;
}
.submit {
  background-color: lightgreen;
}
